* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
}

.hotel-info {
	border: 1px solid black;
}

body {
	background-color: #E8E8E8;
}


img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  /*width: 150px;*/ /* Set a small width */
	/*height: 75px*/
}
/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.container {
	margin-top: 75px;
}

.show {
	display: block;
}

.hide {
	display: hidden;
}
.card {
	background-color: white;
	border-radius: 4px;
	padding: 5px;
	//box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	margin: 10px;
}

.bold {
	font-weight: bold;
}

.blackButton {
	background-color: black;
	color: white;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 1s linear infinite; /* for safari */
	animation: spin 1s linear infinite;
	text-align: center
}

/* for safari */
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg); }
	100% {-webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% {transform: rotate(0deg); }
	100% {transform: rotate(360deg); }
}

.paginationButtons {
	margin-bottom: 70px;
}

.page-footer{
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
	background-color: black;
	color: white;
	padding: 5px;
}
